/*-- -------------------------- -->
<---           Book Now          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #book {
    width: 100%;
  }
  #book .container h2 {
    margin-top: 20%;
    font-size: 2.5em;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #book .container {
    max-width: 800px;
  }
}
@media only screen and (min-width: 1024px) {
  #book .container {
    max-width: 1300px;
  }
  #book .container h2 {
    margin-top: 3em;
  }
}
